@import 'assets/style/variables';

.navigation {
  text-align: right;
  min-height: 40px;
  min-width: 273px;
  line-height: 40px;
  padding: 0 15px;
  margin: 30px 0;

  @media (min-width: 400px) {
    padding: 0 30px;
  }
}

.link {
  position: relative;
  color: #000;
  text-decoration: none;
  margin: 0 20px 0 0;

  @media (min-width: 400px) {
    margin: 0 30px 0 0;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 2px;
    background: $lightBlue;
    transition: width 0.2s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

.button {
  font-family: 'Roboto Mono', monospace;
  background: transparent;
  color: #000;
  border: 1px solid #000;
  padding: 9px 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $lightBlue;
    background: $lightBlue;
    color: #fff;
  }
}